/*
*{
	border: 1px solid #000;
}
*/
@font-face{
	font-family: Segoe UI;
	src: url('../fonts/segoeuisl.ttf');
	font-weight: bold;
}
#homebutton{
	background-color: #F8F8F8;
	color:#5A90BC;;
	border: 1px solid #5A90BC;
	border-radius: 4px;
}

#menu{
	text-align: right;
}
#homerow{
	margin-top: 145px;
    display: block;
    margin-right: 10px;
}
#headercolor{
	color: #88C9F6;
	font-family: Segoe UI;
	font-size: 80px;
}
#paragraphcolor{
	color: #88C9F6;
	font-family: Segoe UI;
	font-weight: bold;
}

#homebody{
	background-color:#F8F8F8;
}
#aboutbody{
	background-color:#F8F8F8;
}
#about{
	margin-top: -50px;
}
#beli{
	font-size: 100px;
}
#h1color{
	color: #f8f8f8;
	font-family: Segoe UI;
	font-weight: bold;
}
#questions{
	background-color: #88C9F6;
}
#pcolor{
	color: #f8f8f8;
	font-family: Segoe UI;
	font-weight: bold;
}
#questionbutton{
	background-color: #5A90BC;
	color: #F8F8F8;
	border: 1px solid #F8F8F8;
	border-radius: 4px;
    margin-top: 10px;
}
#answer{
	color: #88C9F6;
	font-family: Segoe UI;
	font-size: 50px;
}
#image{
	padding: 5px;
	margin-right: 100px;
	position: relative;
	top: -60px;
	left: 800px;
	margin-top: -235px;
	width: 300px;
	height: 300px;
}
#image1{
	padding: 5px;
	margin-right: 100px;
	position: relative;
	top: -60px;
	left: 800px;
	margin-top: -235px;
	width: 300px;
	height: 350px;
}
